body {
    background: linear-gradient(to right, rgb(155, 216, 231) 20%, #ffffffee 80%);
}

body.dark {
    background: linear-gradient(to right, rgba(25, 50, 56, 0.7) 20%, #ffffffee 80%);
}

header {
    background-image: url("../images/buildings.jpg");
    background-size: cover;
    border: 2px solid grey;
    border-bottom: 2px solid #000;
    margin-bottom: 13px;
}