body {
    background: linear-gradient(to right, rgb(155, 216, 231) 20%, #ffffffee 80%);
}

body.dark {
    background: linear-gradient(to right, rgba(25, 50, 56, 0.7) 20%, #ffffffee 80%);
}

header {
    background-image: url("../images/buildings.jpg");
    background-size: cover;
    border: 2px solid grey;
    border-bottom: 2px solid #000;
    margin-bottom: 13px;
}

footer p,
footer a {
    text-align: center;
}

button.themeButton {
    padding: 5px;
    border-radius: 15px;
    margin-left: 80px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #000 10%, #fff);
    color: #fff;
    transition: all 800ms ease-in-out;
}

button.themeButton:hover {
    padding: 5px;
    border-radius: 15px;
    margin-left: 80px;
    background: linear-gradient(to right, rgb(0, 0, 0) 60%, #fff);
    color: #fff;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: #fff;
}

.presentation h1 {
    font-size: 16px;
    color: #000;
    text-align: left;
}

h2 {
    color: #003c4b;
    background-color: rgba(255, 255, 255, 0.4);
}

h4 {
    color: #000;
    font-family: monospace;
}

table {
    width: 100%;
}

td,
th {
    text-align: center;
}

.presentation {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3em;
    margin-bottom: 3em;
}



.menu a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
}

.dark .menu a {
    color: #127845;
    background: rgba(255, 255, 255, 0.6);
}

.pink {
    color: #ff0077;
    font-size: 20px;
    text-decoration: none;
}

.pink:hover {
    color: #8c081e
}

.italic {
    font-style: italic;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#date {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
}